.form-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1200px;

}

.form-container {
  margin: 0 auto;
  background-color: rgb(211, 203, 173);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 90%;
  padding: 20px;
  border-radius: 60px;
  padding-left: 48px;
  padding-right: 48px;
  -webkit-box-align: center;
  border-color: rgb(229, 234, 223);
  box-shadow:  0px 2px 4px 0px rgb(0 0 0 / 8%);
}

.mf-form {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  width: 100%
}

.mf-form > input{
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 24px;
}

.mf-labels {
    color: rgb(0, 0, 0);
    font-family: Calibre, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 550;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    margin-bottom: 5px;
}
.mf-input {
  margin-right: 25px;
  border-radius: 24px;
  outline: none;
  border: 0px solid transparent;
  padding: 0px;
  width: 300px;
}


.mf-text {
 padding-left: 10px;
 height: 48px;
 width: 300px;
}


.mf-date {
 padding-left: 10px;
 height: 48px;
}
.dd-input {
  display: flex;
  flex-direction: column;
}
.mf-dropdown {
  height: 48px;
  background-color: white;
}

.dd-container {
  padding-top: 15px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.where-to {
  display: flex;
  flex-direction: column;
}


.date-input {
  display: flex;
  flex-direction: column;
}


.mf-image {
    border-radius: 24px;
    z-index: -1;
    width: 100%;
    height: 480px;
    position: relative;
    top: -60px;
    overflow: hidden;
}