.main-entire {
  margin-top: 15%;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-home {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 65vw;
  padding-top: 100px;
}

.mf-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.fa-arrow-up {
  color: black;
}

.b > i {
  color: black;
}