.ed-container {
display: flex;
flex-direction: row;
justify-content: center;
width: 100%;
height: 100px;
}

.cs-i-container {
display: flex;
flex-direction: row;

}

.scroll-left {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: absolute;
top: 50%;
right: 62.9%;
background-color: rgb(180, 180, 180);
color: rgba(255, 255, 255, 0.815);
width: 50px;
height: 50px;
border-radius: 5px;
border: 4px solid rgb(168, 168, 168);
box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.363);
transition: all 0.2s ease-in-out 0s;
cursor: pointer;
} 

.scroll-left:hover {
width: 60px;
height: 60px;
}

.scroll-right {
display: flex;
justify-content: center;
align-items: center;
position: absolute;
top: 50%;
left: 62.9%;
background-color: rgb(180, 180, 180);
color: rgba(255, 255, 255, 0.815);
width: 50px;
height: 50px;
border-radius: 5px;
border: 4px solid rgb(168, 168, 168);
box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.363);
transition: all 0.2s ease-in-out 0s;
cursor: pointer;
}

.scroll-right:hover {
width: 60px;
height: 60px;
}

.cs-container {
margin-top: 2%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
  /* height: 100%; */
  /* width: 100%; */
}

.cs-images {
width: 500px;
height: 500px;
background-color: blue;
border-radius: 25px;
margin-bottom: 10px;
box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.541);
border: 2px solid rgb(85, 143, 85);
  
}

.cs-lower {
display: flex;
flex-direction: row;
justify-content: center;
width: 100%;
}

#cs-desc-text {
  font-size: 18px;
  color: #333333;
}


.cs-book-container {
display: flex;
flex-direction: column;
z-index: 1;
position: sticky;
right: 10%;
top: 10%;
width: 300px;
height: 350px;
background-color: rgb(255, 255, 255);
border: 1px solid rgb(194, 194, 194);
margin-top: -15%;
border-radius: 5px;
box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.11);
padding-bottom: 20px;
transition: all 0s none 0s;
  /* overflow: hidden; */
}


.no-user {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
z-index: 1;
position: sticky;
right: 0%;
top: 30%;
width: 300px;
height: 350px;
background-color: rgba(0, 0, 0, 0.301);
border: 1px solid rgba(90, 90, 90, 0.315);
margin-top: -4%;
border-radius: 5px;
box-shadow: 1px 10px 10px rgb(0 0 0 / 11%);
padding-bottom: 20px;
transition: all 0s none 0s;
    
}

#nu-text {
  font-size: 20px;
  color: white;
  cursor: pointer;
  text-align: center;
}

.cs-bc-dates {
display: flex;
flex-direction: row;
height: 25%;
width: 100%;
}

#date-input-ci {
height: 74%;
width: 100%;
outline: none;
border: none;
border-top: 1px solid rgb(194, 194, 194);
border-right: 1px solid rgb(194, 194, 194);
padding-right: 5px;
}

#date-input-co {
height: 74%;
width: 99.9%;
outline: none;
border: none;
border-top: 1px solid rgb(194, 194, 194);
border-left: 1px solid rgb(194, 194, 194);
margin-left: -1%;
}

#ci-label{ 
padding-left: 43px;
color: #333333
  
}

#co-label {
padding-left: 28.5px;
color: #333333
}

.cs-bc-price {
display: flex;
flex-direction: column;
position: relative;
width: 100%;
height: 25%;
border: 1px solid rgb(194, 194, 194);
border-right: none;
border-left: none;
border-top: none;

}
#bc-price {
margin-left: 5%;
font-size: 1.5rem;
font-weight: 600;
margin-top: 4%;
color: #333333;
line-height: 1.5;
}

#bc-price-text {
padding-bottom: 10px;
margin-left: 5%;
  
}
.cs-bc-checkin {
width: 90%;
border: 1px solid rgb(194, 194, 194);
border-left: none;
border-top: none;
}

.cs-bc-checkout {
margin-right: 0.4px;
width: 90%;
border: 1px solid rgb(194, 194, 194);
border-right: none;
border-left: none;
border-top: none;
}
.cs-bc-guests {
display: flex;
flex-direction: row;
width: 100%;
height: 13%;
border-top: 1px solid rgb(194, 194, 194);
border-bottom: 1px solid rgb(194, 194, 194);
}

.bc-adults {
display: flex;
flex-direction: column;
align-items: center;
border: 1px solid rgb(194, 194, 194);
border-top: none;
border-right: none;
border-bottom: none;
border-left: none;
width: 52%;
height: 50px;
padding-top: 2px;
}

.bc-childs { 
 display: flex;
 flex-direction: column;
 align-items: center;
 height: 50%;
 width: 50%;
 padding-top: 2px;
}


/* adult / child button upper text */

#adults-text {
 color: #333333;
}

#childs-text {
 color: #333333;
}


/* adult / child button upper text */





/* adult button container */
.adults-btns {
display: flex;
flex-direction: row;
align-items: center;
}


#a-inc {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 20px;
width: 20px;
border: 2px solid rgb(151, 151, 151);
background-color: rgb(222, 222, 222);
color: rgb(151, 151, 151);
border-radius: 50%;
}

#a-num {
margin-left: 10px;
margin-right: 10px;
}

.btn-dec {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 20px;
width: 20px;
border: 2px solid rgb(151, 151, 151);
background-color: rgb(222, 222, 222);
color: rgb(151, 151, 151);
border-radius: 50%;
transition: all 0.2s ease-in-out 0s;
}


.btn-dec.active-af {
border: 2px solid rgb(107, 160, 86);
background-color: white;
color: rgb(103, 158, 81);
}


.btn-dec.active-cf {
border: 2px solid rgb(107, 160, 86);
background-color: white;
color: rgb(103, 158, 81);
}
/* adult button container  */



/* child button container */


.childs-btns {
display: flex;
flex-direction: row;
align-items: center;
}

#c-inc {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 20px;
width: 20px;
border: 2px solid rgb(151, 151, 151);
background-color: rgb(222, 222, 222);
color: rgb(151, 151, 151);
border-radius: 50%;
}

#c-num {
margin-left: 10px;
margin-right: 10px;
}






/* Guest total container  */
#guest-total-ac {
display: flex;
flex-direction: column;
}

#gt-total {
color: #333333
}

#gt-t {
position: absolute;
bottom: 50%;
left: 48%;
font-size: 20px;
color: #333333
}
/* Guest total container  */


/* error handler */
.bk-err {
  width: 300px;
  height: 300px;
  background-color: black;
}





/* child button container  */

#label-ad {
 padding-left: 30%;
 color: #333333;
 margin-right: 25px;
}

#label-c {
  padding-left: 46px;
  color: #333333;
}

#guest-input-a {
  width: 27%;
  margin: 0 auto;
  margin-left: 45px;

}

#guest-input-c {
  width: 28%;
  margin: 0 auto;
  margin-left: 52px;
}


.cs-bc-submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25%;
  border-top: 1px solid rgb(194, 194, 194);
  padding-top: 10px;
  
}

#bc-submit {
  height: 65%;
  width: 85%;
  color: #fff;
  background-color: #40d9ac;
  border: 3px solid #40d9ac;
  font-size: 18px;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.082);
  transition: all 0.2s ease-in-out 0s;
}

#bc-submit:hover {
  color: #40d9ac;
  border: 2px solid #40d9ac;
  background-color: rgba(143, 143, 143, 0.082);
}
#bc-ns-text {
  padding-top: 5px;
  color: #333333;
  text-align: center;
}



.bc-nights-stay {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 5px;
  padding-bottom: 5px;
  width: 100%;
}

.bc-ns-inc-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
}

.bc-ns-dec-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
}

#bc-ns-inc {
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50%;
}

#bc-ns-num-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 50px;
}

#bc-ns-num {
  font-size: 24px;
  text-shadow: 1px 6px 5px rgba(0, 0, 0, 0.247);
}
#bc-ns-fullprice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#bc-ns-fp {
  color: #333333;
  font-size: 18px;
}
#bc-ns-dec {
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50%;
}

.cs-bc-discount {
      position: sticky;
      margin-top: -156px;
      margin-left: 296px;
      z-index: 3;
      width: 100px;
      height: 59px;
      background-color: rgba(0, 0, 0, 0.438);

}


#finalize {
  color: #333333;
}
/* END OF FORM FOR BOOKINGS  */


.cs-lower-content {
  display: flex;
  flex-direction: column;
  position: relative;
  right: 2%;
  width: 40%;
  height: 100%;
  margin-top: 80px;

}


.cs-lower-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 8%;
  padding-bottom: 20px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.445);
}

.cs-lh-title {
  display: flex;
  flex-direction: column;
  margin-left: 2%;
}

#cs-name {
 font-size: 2rem;
 font-weight: 600;
 color: #333333;
}

#cs-city-state {
  font-size: 1.2rem;
  font-weight: 500;
  color: #333333;
}

.cs-ratings {
  height: 20%;
  width: 100%;
 
}

.cs-lh-host {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#host-profile-pic {
  width: 80px;
  height: 80px;
  background-color:rgb(46, 46, 46);
  margin: 10px;
  border-radius: 50%;
  margin-right: 10px;

}


#cs-hosted-by {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
#hb-text {
  margin-top: 10px;
  padding-bottom: 5px;
  font-size: 20px;
  color: #333333;
}

#hb-name {
  font-size: 18px;
  padding-top: 5px;
  color: #333333;
}
#cs-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  margin-left: 50px;
}


/* REVIEW Container */

.review-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 38px;
  height: 100%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.445);
  margin-bottom: 30px;

}

.ri-count {
  align-self: flex-end;
  font-size: 24px;
  color: #333333;
  font-weight: 700;

}

.review-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 2px solid black;
  margin-top: 15px;
}


/* REVIEW Container */
