.ed-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100px;
}

.cs-container {
  margin-top: 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
  /* width: 100%; */
}
.cs-i-container {
  display: flex;
  flex-direction: row;

}
.cs-images {
  margin: 0 auto;
  width: 500px;
  height: 500px;
  background-color: rgb(37, 37, 37);
}

.cs-lower {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.cs-booking-div {
}
.cs-book-container {
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: sticky;
  right: 10%;
  top: 10%;
  width: 300px;
  height: 350px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(194, 194, 194);
  margin-top: -15%;
  border-radius: 5px;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.11);
  padding-bottom: 20px;
  /* overflow: hidden; */
}

.cs-bc-dates {
  display: flex;
  flex-direction: row;
  height: 25%;
  width: 100%;
}

#date-input-ci {
  height: 74%;
  width: 100%;
  outline: none;
  border: none;
  border-top: 1px solid rgb(194, 194, 194);
  border-right: 1px solid rgb(194, 194, 194);
  padding-right: 5px;
}

#date-input-co {
  height: 74%;
  width: 99.9%;
  outline: none;
  border: none;
  border-top: 1px solid rgb(194, 194, 194);
  border-left: 1px solid rgb(194, 194, 194);
  margin-left: -1%;
}

#ci-label{ 
  padding-left: 43px;
  color: #333333
  
}

#co-label {
  padding-left: 28.5px;
  color: #333333
}

.cs-bc-price {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 25%;
  border: 1px solid rgb(194, 194, 194);
  border-right: none;
  border-left: none;
  border-top: none;

}
#bc-price {
  margin-left: 5%;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 4%;
  color: #333333;
  line-height: 1.5;
}

#bc-price-text {
  padding-bottom: 10px;
  margin-left: 5%;
  
}
.cs-bc-checkin {
  width: 90%;
  border: 1px solid rgb(194, 194, 194);
  border-left: none;
  border-top: none;
}

.cs-bc-checkout {
  margin-right: 0.4px;
  width: 90%;
  border: 1px solid rgb(194, 194, 194);
  border-right: none;
  border-left: none;
  border-top: none;
}
.cs-bc-guests {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 13%;
  border-top: 1px solid rgb(194, 194, 194);
  border-bottom: 1px solid rgb(194, 194, 194);
}

.bc-adults {
 border: 1px solid rgb(194, 194, 194);
 border-top: none;
 border-right: none;
 border-bottom: none;
 width: 52%;
 height: 50px;
 padding-top: 2px;
}

.bc-childs { 
 height: 50%;
 width: 50%;
 padding-top: 2px;
}
#label-ad {
 padding-left: 30%;
 color: #333333;
 margin-right: 25px;
}

#label-c {
  padding-left: 46px;
  color: #333333;
}

#guest-input-a {
  width: 27%;
  margin: 0 auto;
  margin-left: 45px;

}

#guest-input-c {
  width: 28%;
  margin: 0 auto;
  margin-left: 52px;
}


.cs-bc-submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25%;
  border-top: 1px solid rgb(194, 194, 194);
  padding-top: 10px;
}

#bc-submit {
  height: 65%;
  width: 85%;
  color: #fff;
  background-color: #40d9ac;
  border: 3px solid #40d9ac;
  font-size: 18px;
  transition: all 0.2s ease-in-out 0s;
}

#bc-submit:hover {
  color: #40d9ac;
  border: 2px solid #40d9ac;
  background-color: white;
}
#bc-ns-text {
  padding-top: 5px;
  color: #333333;
  text-align: center;
}



.bc-nights-stay {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 5px;
  padding-bottom: 5px;
  width: 100%;
}

.bc-ns-inc-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
}

.bc-ns-dec-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
}

#bc-ns-inc {
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50%;
}

#bc-ns-num-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 50px;
}

#bc-ns-num {
  font-size: 24px;
  text-shadow: 1px 6px 5px rgba(0, 0, 0, 0.247);
}
#bc-ns-fullprice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#bc-ns-fp {
  color: #333333;
  font-size: 18px;
}
#bc-ns-dec {
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50%;
}

.cs-bc-discount {
      position: sticky;
      margin-top: -156px;
      margin-left: 296px;
      z-index: 3;
      width: 100px;
      height: 59px;
      background-color: black;

}
/* END OF FORM FOR BOOKINGS  */


.cs-lower-content {
  display: inline;
  position: relative;
  right: 2%;
  width: 40%;
  height: 3000px;
  border: 2px solid black;
}


.cs-lower-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 8%;
  border: 2px solid black;
}

.cs-lh-title {
  display: flex;
  flex-direction: column;
  margin-left: 2%;
}

#cs-name {
 font-size: 2rem;
 font-weight: 600;
 color: #333333;
}

#cs-city-state {
  font-size: 1.2rem;
  font-weight: 500;
  color: #333333;
}

.cs-ratings {
  height: 20%;
  width: 100%;
  border: 2px solid black;
}

.cs-lh-host {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#host-profile-pic {
  width: 80px;
  height: 80px;
  background-color: #333333;
  margin: 10px;
  border-radius: 50%;
}


#cs-hosted-by {
  display: flex;
  flex-direction: column;
}
#hb-text {
  margin-top: 10px;
  padding-bottom: 5px;
}

#hb-name {
  padding-top: 5px;
}
#cs-desc {
  margin-left: 10%;
}

