.ef-btn {
  position: absolute;
  top: 10.5%;
  left: 48.2%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 25px;
  z-index: 2;
  height: 40px;
  width: 80px;
  background-color: #02c587;
  color: white;
  text-align: center;
  border-color: transparent;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.2s ease-in-out 0s;
}

 .active-red {
  position: absolute;
    top: 10.5%;
    left: 48.2%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 25px;
    z-index: 2;
    height: 40px;
    width: 80px;
    background-color: rgb(255, 66, 66);
    color: white;
    text-align: center;
    border-color: transparent;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.2s ease-in-out 0s;
}

.active-red:hover {
  background-color: rgb(102, 0, 0);
}

.ef-btn:hover {
  color: #02c587;
  background-color: white;
  border: 2px solid #02c587;
}
.ef-main-container {
  display: flex;
  justify-content: center;
  z-index: 2;
  position: absolute;
  margin: 0 auto;
  width: 400px;
  height: 820px;
  background-color: #e8e2d5;
  top: 16.5%;
  left: 39.5%;
  border-radius: 10px;
  border: 1px solid orange;
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.233);
}

.ef-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
  width: 95%;
}

.ef-form > input {
  height: 25px;
  border: none;
  width: 85%;
  margin-bottom: 25px;
}


.ef-cancel-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 4;
  position: absolute;
  left: 56.5%;
  width: 70px;
  height: 30px;
  background-color: rgb(255, 66, 66);
  font-size: 18px;
  color: white;
  border-radius: 5px;
  border: 2px solid white;
  transition: all 0.2s ease-in-out 0s;
  cursor: pointer;
}


.ef-cancel-btn:hover {
  background-color: rgb(102, 0, 0);
}


.image-ef-box {
  display: flex;
  flex-direction: column;
  width: 85%;
  border: 2px solid orange;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 15px;
  border-radius: 5px;

}

.image-ef-box > input {
  height: 20px;
  width: 95%;
  margin-bottom: 20px;
  border: none;

}

#ef-desc {
  height: 70px;
  width: 300px;
  border: none;
  border-radius: 5px;
  resize: none;
  border: 1px solid orange;
}

#ef-submit-btn {
  margin-top: 10px;
  width: 150px;
  height: 40px;
  background-color: #da451b;
  border: 2px solid white;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out 0s;
}

#ef-submit-btn:hover {
  background-color: white;
  border: 2px solid #da451b;
  color: #da451b;
}