.bookings-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  text-align: center;
  position: relative;
  left: 10%;
  width: 80%;
  height: 100%;
  border: 1px solid black;

}


.ab-single-container {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 50%;
  background-color: rgb(255, 252, 245);
  border: 2px solid rgb(51, 51, 51);
  margin-bottom: 25px;
  border-radius: 15px;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.493);

} 


.ab-camp-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20%;
}

#ab-camp-text {
  font-size: 24px;
}

.dates-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
}

#dc-ci-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  border: 1px solid black;
  border-left: none;
  border-right: none;
  height: 100%;
}

#dc-co-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  border: 1px solid black;
  border-right: none;
  height: 100%;
}

.dc-label {
  font-size: 20px;
}

.dc-date-text {
  font-size: 18px;
}
.ab-guests-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20%;
}

#ab-guests-text {
  font-size: 22px;
}

.ab-price-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60px;
  border: 1px solid black;
  border-left: none;
  border-bottom: none;
  border-right: none;
  
}

#ab-price-text {
  font-size: 20px;
}


.edit-booking-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.bf-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;
  margin-bottom: 45px;
  margin-top: 25px;
}

.booking-edit-form {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #e8e2d5;
  width: 200px;
  height: 355px;
  border-radius: 5px;
  box-shadow: 1px 15px 25px rgba(0, 0, 0, 0.603);
  border: 1px solid black;
  animation: slide-in 0.4s ease;

}

@keyframes slide-in {
  0% {
    margin-top: 50px;
  }
}


.be-ci-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.be-co-input {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.be-adult-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.be-child-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.booking-edit-form > input  {
  width: 80%;
}

#update-btn-bk, #delete-btn-bk {
  position: relative;
  right: 5%;
  width: 80px;
  height: 30px;
  margin-top: 10px;
  background-color: #40d9ac;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

#delete-btn-bk {
  left: 5%;
  background-color: rgb(255, 66, 66);
  cursor: pointer;
}

#bf-edit {
  border-radius: 5px;
  height: 30px;
  border: none;
  background-color: rgb(0, 132, 255);
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.2s ease-in-out 0s;
}

#bf-edit:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.137);
}

#bf-cancel {
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: rgb(255, 84, 84);
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.2s ease-in-out 0s;
}

#bf-cancel:hover {
box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.137);
}