

.create-form-container {
 margin: 0 auto;
 margin-top: 120px;
 height: 780px;
 width: 600px;
 background-color: #e8e2d5;
 box-shadow: 1px 6px 5px rgba(0, 0, 0, 0.295);
 transition: margin-top 0.2s ease-in 0s;
 border-radius: 20px;
 border: 1px solid #da451b;
}

.cs-create-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 98%;
  width: 100%;
  margin: 0 auto;
  
  border-radius: 20px;
}


.cs-create-form > input {
 height: 20px;
 width: 90%;
 border: none;
 background-color: white;
 border-radius: 5px;
 padding: 5px;
 border: 1px solid #333333;
 font-size: 16px;
}

.cs-create-form > textarea {
  height: 100px;
  width: 80%;
  border-radius: 5px;
  resize: none;
  border-color: #333333;
  padding: 5px;
}


#cs-cf-text {
  font-size: 22px;
  font-weight: 700;
  font-family: inherit;
  color: #333333;
  margin-bottom: 15px;
}

#host-submit-btn {
  margin-top: 15px;
  height: 40px;
  width: 300px;
  border-radius: 5px;
  border: 0px transparent;
  background-color: #da451b;
  transition: all 0.25s ease-in-out 0s;
  font-size: 20px;
  color: white;
}

#host-submit-btn:hover {
  background-color: white;
  color: #da451b;
  border: 1px solid #da451b;
}

.err-cntr {
  z-index: 2;
  position: absolute;
  width: 500px;
  height: 200px;
  background-color: white;
  left: 2%;
  border-radius: 10px;
  border: 2px solid red;
}

.errors-val {
  z-index: 5;
    position: absolute;
    top: 50%;
    left: 0%;
    width: 480px;
}

.errors-val > li {
  margin-bottom: 15px;
}