
.nav-bar {
  display: flex;
  align-items: center;
  margin: 0 auto;
  position: fixed;
  top: 0;
  background-color: #f3f2ee;
  height: 70px;
  text-decoration: none;
  width: 100%;
}

.ul-container {
  display: flex;
  margin: 0 auto;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}


.list-container {
  display: flex;
  align-items: center;
  position: relative;
  left: 28%;
  margin: 0 auto;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400px;
  line-height: 24px;
  letter-spacing: 0.22px;
  
  justify-content: center;
  
}

.list-container > a {
  color: black;
  font-family: Calibre, Helvetica, Arial, sans-serif;
  border-bottom: 2px solid transparent;
  
  transition: border-bottom 0.25s ease 0s;
}

.list-container> a:hover {
  border-color: #02c587;
}



.home {
  position: relative;
  left: 18%
}

.home-btn {
  width: 154px;
  height: 35px;
}

.top-nav {
  text-decoration: none;
  margin-right: 25px;
}

.signup {
  margin-right: 35px;
}

.hosting {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
  
}

.host-bg {
  display: flex;
  height: 35px;
  width: 130px;
  background-color: #02c587;
  border-radius: 24px;
  justify-content: center;
  align-items: center;
}